*.asv
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
logfile.txt
/FromFileExchange/boundedline/readmeExtras/README_01.png
/FromFileExchange/boundedline/readmeExtras/README_02.png
/FromFileExchange/boundedline/readmeExtras/README_03.png
/FromFileExchange/boundedline/readmeExtras/README_04.png
/FromFileExchange/boundedline/readmeExtras/README_05.png
/FromFileExchange/boundedline/readmeExtras/README_06.png
/FromFileExchange/boundedline/readmeExtras/README_07.png
/FromFileExchange/boundedline/readmeExtras/README_08.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo.html
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo_01.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo_02.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo_03.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo_04.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo_05.png
/FromFileExchange/boundedline/Inpaint_nans/demo/html/inpaint_nans_demo_06.png
/FromFileExchange/boundedline/Inpaint_nans/demo/inpaint_nans_demo_old.m
/FromFileExchange/boundedline/Inpaint_nans/garden50.jpg
/FromFileExchange/boundedline/Inpaint_nans/monet_adresse.jpg
